/*GLOBAL STYLES*/

html, body {
    height:100%;
    width:100%;
}

body {
    margin:0px;
    padding:0px;
    background-color:#F1F1F1;
    font-family:'Source Sans Pro', Trebuchet MS, sans-serif;
    font-size:16px;
    /*color:#FFFFFF !important;*/
    font-weight:400;
}

body {
    color:#000000;
}

h1, h2, h3, h4 {
    margin:0px;
    padding:0px;
    color:#8DC63F; /* GRANNY SMITH APPLE GREEN */
}

p {
    line-height:150%;
    margin:15px 0px;
}

b, strong {
    color:#8DC63F;
}

a {
    color:#8DC63F;
    text-decoration:none;
}

a:hover {
    color:#FF7900; /* THIS COLOR IS ORANGE */
}

/*MAIN BODY STYLES*/

.mainWidth {
    overflow:hidden;
    margin:0px auto;
    width:1200px;
}

/* ========== HEADER STYLES ============= */

header {
    background-color:#FFFFFF;
}

#header {
    position:relative;
    padding:15px 0px;
}

#logo a {
    color:#FF7900; /* leave yourself notes */
}

#logo a:hover {
    color:#8DC63F;
}

/* ------- MENU STYLES -------- */

#menu {
    position:absolute;
    top:20px;
    right:20px;
}

#menu ul {
    display:inline-block;
}

#menu li {
    display:inline;
    text-align:center;
}

#menu li:after {
    content:"|";
    padding:0px 15px;
    font-weight:600;
    color:#000000;
}

.currentPage {
    color:#FF7900;
}

.currentPage:hover {
    color:#8DC63F;
}


/*BANNER STYLES */

#bannerHome {
    overflow:scroll;
    padding:150px 0px;
    border-top:3px solid #8DC63F;
    background-size:cover;
    background:url(../images/banner-home.jpg) no-repeat bottom center #FF7900;
}
#banner_about {
    overflow:scroll;
    padding:0px 0px;
    border-top:3px solid #8DC63F;
    background-size:cover;
    background:url() no-repeat bottom center #FF7900;
}

#banner_contact {
    overflow:scroll;
    padding:0px 0px;
    border-top:3px solid #8DC63F;
    background-size:cover;
    background:url() no-repeat bottom center #FF7900;
}

.bannerText {
    font-size:6em;
    color:#FFFFFF;
    text-align:center;
    text-shadow:7px 7px 10px #000000;
}


/* THE COLUMNS STYLES */

.columnA, .columnB, .columnC {
    width:384px;
}

.columnA h2, .columnB h2, .columnC h2 {
    font-size:3.8em;
    font-weight:700;
    text-align:center;
    line-height:1.5em;
}

.box span {
    background-color:#8DC63F;
    color:#FFFFFF;
    display:block;
    font-size:2.5em;
    font-weight:900;
    margin-bottom:16px;
    padding:16px;
    text-align:center;
    text-transform:uppercase;
} 

.columnA p, .columnB p, .columnC p {
    text-align:justify;
}

/*.columnA img, .columnB img, .columnC img {*/
/*    width:384px;*/
/*}*/

.columnA, .columnB {
    /*display:inline-block;*/
    float:left;
    margin-right:24px;
}

.columnC {
    float:left;
}


/* ABOUT ME SECTION STYLES */

.alignLeft {
    float:left;
    margin-right:24px;
}

.floatRight {
    float:right;
    margin-left:24px;
}

.alignRight {
    
}

#aboutMe {
    margin:25px 0px;
}

/* EXTRA STYLES */

a.button {
    padding:15px 20px;
    background-color:#8DC63F;
    letter-spacing:2px; /* THIS IS OPTIONAL */
    text-transform:uppercase;
    font-weight:700;
    font-size:1.2em;
    color:#FFFFFF;
    border-radius:5px;
    margin:10px 0px;
    display:inline-block;
    transition:background 0.6s linear 0s, color 0.6s linear 0s;
}

a.button:hover {
    background-color:#FF7900;
    color:#FFFFFF;
}

#wufoo-q157so211krd60q {
    border:4px solid #FF7900;
    border-radius:8px;
    width:80%;
    margin:30px auto;
    padding:30px;
    background-color:#e7f3d6;
}

.vidContainer {
    width:90%;
    margin:0px auto;
}

#videoHolder {
    width:100%;
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0px;
    overflow:hidden;
}

#videoHolder iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

/*FOOTER STYLES*/

footer {
    background-color:#e7f3d6;
    border-top:3px dotted #8DC63F;
    padding:60px 0px;
    overflow:hidden;
    text-align:center;
    margin-top:30px;
}

.fa {
    background-color:#8DC63F;
    border:4px solid #FFFFFF;
    border-radius:100%;
    font-size:2em !important;
    margin:15px;
    padding:10px;
    width:28px;
    height:28px;
    color:#FFFFFF;
    transition:background 0.6s linear 0s, color 0.6s linear 0s;
}

.fa:hover {
    background-color:#ff7900;
}




/*https://preview.c9users.io/mrdamonthomas/damon-hani/index.html*/
