/*GLOBAL STYLES*/

html, body {
    height:100%;
    width:100%;
}

body {
    margin:0px;
    padding:0px;
    background-color:#F1F1F1;
    font-family:'Source Sans Pro', Trebuchet MS, sans-serif;
    font-size:16px;
    /*color:#FFFFFF !important;*/
    font-weight:400;
}

body {
    color:#000000;
}

h1, h2, h3, h4 {
    margin:0px;
    padding:0px;
    color:#8DC63F; /* GRANNY SMITH APPLE GREEN */
}

p {
    line-height:150%;
    margin:15px 0px;
}

b, strong {
    color:#8DC63F;
}

a {
    color:#8DC63F;
    text-decoration:none;
}

a:hover {
    color:#FF7900; /* THIS COLOR IS ORANGE */
}

/*MAIN BODY STYLES*/

.mainWidth {
    overflow:hidden;
    margin:0px auto;
    width:1200px;
}

/* ========== HEADER STYLES ============= */

header {
    background-color:#FFFFFF;
}

#header {
    position:relative;
    padding:15px 0px;
}

#logo a {
    color:#FF7900; /* leave yourself notes */
}

#logo a:hover {
    color:#8DC63F;
}

/* ------- MENU STYLES -------- */

#menu {
    position:absolute;
    top:20px;
    right:20px;
}

#menu ul {
    display:inline-block;
}

#menu li {
    display:inline;
    text-align:center;
}

#menu li:after {
    content:"|";
    padding:0px 15px;
    font-weight:600;
    color:#000000;
}

.currentPage {
    color:#FF7900;
}

.currentPage:hover {
    color:#8DC63F;
}


/*BANNER STYLES */

#bannerHome {
    overflow:scroll;
    padding:150px 0px;
    border-top:3px solid #8DC63F;
    background-size:cover;
    background:url(../images/banner-home.jpg) no-repeat bottom center #FF7900;
}

.bannerText {
    font-size:6em;
    color:#FFFFFF;
    text-align:center;
    text-shadow:7px 7px 10px #000000;
}














/*FOOTER STYLES*/








